/* src/index.css のようなファイル */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 他のカスタムCSSがあればここに追加 */


.card {
  background: #323232;
  padding: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.step-row {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.done {
  text-decoration: line-through;
  color: rgb(201, 201, 201);
}

